// OTHER COLORS
$white:    #fff !default;
$gray-100: #f8f8fa !default;
$gray-200: #e9e8ed!default;
$gray-300: #D4D6DE !default;
$gray-400: #ced4da !default;
$gray-500: #a3a5ad !default;
$gray-600: #6c757d !default;
$gray-700: #5E5E5E !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default; // #212529 ;
$black:    #000 !default;

// COLORS
$info: #00ACA6;
$primary: $info;
$success: #3acc60;
$secondary: #a4a5ad;
$warning: #F8CE47;
$dark:$gray-900;
